<app-layout title="Welcome to Marko">
  <app-header/>
  <demo-content>
    <h1>Marko Tests</h1>
    <p>Github Pages and Webpack configs</p>
    <p>This is a component all about how</p>
  </demo-content>
</app-layout>
